@import "modules/utils";

@import 'partials/normalize';
@import 'partials/fonts';

@import "vendor/slick";
@import "vendor/nanoscroller";

$brand-primary: #ff6600;

$menu-height: 100px;
$menu-height-small: 60px;

$novecento-stack: 'Novecento', sans-serif;
$open-sans-stack: 'Open Sans', sans-serif;
$georgia-stack: Georgia, Times, "Times New Roman", serif;

// border-box FTW!
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}

html,
body {
    background: #ffffff;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: $open-sans-stack;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

h2 {
    font-family: $novecento-stack;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: $novecento-stack;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;

    span {
        color: lighten(black, 50);
        display: block;
        font-family: Georgia;
        font-size: 0.5em;
        font-weight: normal;
    }
}

.wrapper {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1060px;
}

header {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
    padding-top: 15%;
    width: 100%;

    h2 {
        font-family: $novecento-stack;
        font-size: 5em;
        font-weight: lighter;
        font-weight: normal;
        line-height: 1;
        margin: 0 auto;
        text-align: left;
        width: 80%;

        span {
            display: block;

            &:first-child {
                animation: slideFromLeft 1.5s forwards;
            }

            &:last-child {
                animation: slideFromRight 1.5s forwards;
            }
        }
    }

    small {
        display: block;
    }
}

nav {
    color: white;
    font-family: $novecento-stack;
    font-size: 1em;
    font-weight: bold;
    height: $menu-height;
    line-height: $menu-height;
    margin: -($menu-height) auto 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    li {
        color: white;
        float: left;
        font-weight: normal;
        overflow: hidden;
        position: relative;
        transition: all 200ms;

        &:before {
            background: $brand-primary;
            bottom: 0;
            content: '';
            height: $menu-height-small;
            left: 0;
            position: absolute;
            transform: translateY(-$menu-height);
            transition: 200ms all;
            width: 100%;
            z-index: -1;
        }
    }

    a {
        color: inherit;
        display: block;
        padding: 0 30px;
        text-decoration: none;
    }

    #logo {
        margin-top: -5px;
        transition: all 250ms;
        vertical-align: middle;
    }

    &.fixed {
        animation: slideFromTop 500ms forwards;
        background: transparentize(white, 0.05);
        box-shadow: 1px 0px 0px 2px transparentize(black, 0.95);
        color: $brand-primary;
        height: $menu-height-small;
        line-height: $menu-height-small;
        position: fixed;
        top: $menu-height;
        width: 100%;
        z-index: 1000;

        #logo {
            height: 30px;
            width: auto;

            path {
                animation: none;
                fill: $brand-primary;
                shape-rendering: crispEdge;
                stroke: $brand-primary;
                transition: none;
            }
        }

        li:not(.logo) {
            color: $brand-primary;

            &.active,
            &:hover {
                color: white !important;

                &:before {
                    transform: translateY(0);
                }
            }
        }
    }

    &:not(.fixed) {

    }
}

section {
    height: 100%;
    min-height: 100%;
    padding-top: $menu-height;

    .separator {
        background: lighten($brand-primary, 30);
        height: 3px;
        width: 100px;
        margin: 3em auto;
    }
}

#cases {
    @extend %clearfix;
    margin: 0 auto;
    position: relative;

    article {
        background-color: #f0f0f0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 400px;
        box-shadow: 0 0 2px 0 transparentize(black, 0.95);
        border-radius: 4px;
        float: left;
        height: 180px;
        margin-bottom: 2%;
        margin-right: 2%;
        overflow: hidden;
        position: relative;
        text-align: center;
        transition: background 200ms;
        width: 32%;

        &:hover {
            background-size: auto 180px;

            a {
                opacity: 1;
                transform: scale(1);
                visibility: visible;
            }
        }

        &:nth-child(3n+3) {
            margin-right: 0;
        }

        &.dids {
            background-image: url('../img/cases/dids/thumb.png');
        }

        &.starthink {
            background-position: left top;
            background-image: url('../img/cases/starthink/thumb.png');
        }
        &.familybox {
            background-position: left top;
            background-image: url('../img/cases/familybox/thumb.png');
        }

        a {
            background: transparentize($brand-primary, 0.2);
            color: white;
            cursor: zoom-in;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            text-decoration: none;
            top: 0;
            transform: scale(2);
            transition: all 250ms;
            visibility: hidden;
            width: 100%;
        }
    }

    h3 {
        font-size: 2em;
        margin-top: 50px;
    }
}

#cases-detail {
    height: 0;
    min-height: 0;
    width: 0;

    article {
        background: #ff6600;
        height: 100%;
        opacity: 0;
        position: fixed;
        right: -100%;
        top: 0;
        transition: all 750ms;
        visibility: hidden;
        width: 100%;
        z-index: 1000;

        &.active {
            opacity: 1;
            right: 0;
            visibility: visible;
        }
    }

    .case-close-button {
        background: url('../img/case-detail-back.png') no-repeat center center;
        bottom: 20px;
        height: 48px;
        left: 50%;
        margin-left: -24px;
        opacity: .5;
        position: absolute;
        transition: opacity 300ms,
                    transform 500ms;
        width: 48px;
        z-index: 1001;

        &:hover {
            opacity: 1;
            transform: rotate(90deg);
        }
    }

    .case-about {
        background: darken($brand-primary, 3);
        box-shadow: 0 0 0 6px transparentize(black, 0.98),
                    0 0 0 3px transparentize(black, 0.98),
                    1px 0 0 0 transparentize(white, 0.95) inset;
        color: lighten($brand-primary, 45);
        height: 100%;
        padding: 0 3%;
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
    }

    h3 {
        color: white;
        font-size: 2.2em;
        margin: 8% 0 5% 0;
        text-align: center;

        span {
            color: lighten($brand-primary, 40);
            font-family: $open-sans-stack;
            font-weight: 600;
            font-size: 0.45em;
            text-transform: uppercase;
        }
    }

    .separator {
        background: transparentize(white, 0.7);
        height: 2px;
        margin: 8% auto;
        width: 100px;
    }

    strong {
        font-weight: 600;
    }

    .case-about-text {
        margin: 8% 0 4% 0;
        max-height: 360px;

        .nano-content {
            padding-right: 14px;
        }

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .case-external-link {
        box-shadow: 0 -3px 0 0 transparentize(white, 0.7) inset;
        color: white;
        font-size: 1em;
        font-weight: 600;
        padding: 5px;
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        display: inline-block;

        &:hover {
            box-shadow: 0 -30px 0 transparentize(white, 0.6) inset;
            color: darken($brand-primary, 30);
        }
    }

    .slider {
        background-image: url('../img/cases/dids/background.png');
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 70%;
    }

    .slide-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .slick-slider,
    .slick-list,
    .slick-track {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .slick-slide {
        text-align: center;
        padding-bottom: 30px;

        img {
            display: inline-block;
        }
    }

    .slick-dots {
        bottom: 5px;

        li {
            margin: 0 10px;

            &.slick-active {
                button {
                    background: white;
                    transform: scale(1);
                }
            }
        }

        button {
            background: transparentize(white, 0.7);
            border-radius: 12px;
            content: '';
            height: 12px;
            margin: 0;
            transform: scale(0.8);
            transition: all 150ms;
            width: 12px;

            &:before {
                content: '';
            }
        }
    }

}

@keyframes processoDotAnimation {
    from {
        transform: scale(0);
    }
    
    to {
        transform: scale(1);
    }
}

@keyframes processFeedbackLine {
    from {
        width: 0; 
    }

    to {
        width: 851px;
    }
}

#processo {
    background: #ff6600 url('../img/processo-hero.png') no-repeat center center;
    background-size: cover;
    text-align: center;

    h3 {
        color: white;

        span {
            color: lighten($brand-primary, 40);
            font-family: $open-sans-stack;
            font-size: 0.66em;
        }
    }
    
    .processo-path {
        width: 915px;
        position: relative;
        margin: 120px auto 0;
    }
    
    .dots {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        
        li {
            animation: processoDotAnimation 300ms forwards;
            width: 40px;
            height: 40px;
            position: absolute;
            background: url('../img/processo/processo-dot.png') no-repeat center center;
            color: #fff;
            font-weight: bold;
            line-height: 40px;
            transform: scale(0);
        }
        
        .offset-1 {
            animation-delay: 0s;
            top: 35px;
        }
        
        .offset-2 {
            animation-delay: 600ms;
            top: -12px;
            left: 200px;
        }
        
        .offset-3 {
            animation-delay: 1250ms;
            top:62px;
            left: 415px;
        }
        
        .offset-4 {
            animation-delay: 2000ms;
            top: 110px;
            left: 630px;
        }
        
        .offset-5 {
            animation-delay: 2900ms;
            top: -25px;
            left: 880px;
        }
    }
    
    %animated-icon {
        animation: processoDotAnimation 300ms forwards; 
        transform: scale(0);
        width: 211px;
        height: 91px;
        position: absolute;
    }
    
    .ideia{
        animation-delay: 100ms;
        @extend %animated-icon;
        top: -40px;
        left: -80px;
        background: url('../img/processo/ideia.png') no-repeat center center;
    }
    
    .telas{
        animation-delay: 700ms;
        @extend %animated-icon;
        top: 28px;
        left: 120px;
        background: url('../img/processo/telas.png') no-repeat center center;
    }
    
    .wireframes{
        animation-delay: 1350ms;
        @extend %animated-icon;
        top: -20px;
        left: 380px;
        background: url('../img/processo/wireframes.png') no-repeat center center;
    }
    
    .dev{
        animation-delay: 2100ms;
        @extend %animated-icon;
        top: 130px;
        left: 450px;
        background: url('../img/processo/desenvolvimento.png') no-repeat center center;
    }
    
    .entrega{
        animation-delay: 3000ms;
        @extend %animated-icon;
        top: -60px;
        left: 700px;
        background: url('../img/processo/entrega.png') no-repeat center center;
    }
    
    .feedback {
        @extend %animated-icon;
        animation-delay: 3800ms;
        width: 107px;
        height: 40px;
        top: 255px;
        left: 407px;
        background: url('../img/processo/feedback.png') no-repeat center center;
        z-index: 10;
    }
    
    .bee {
        @extend %animated-icon;
        animation-delay: 5100ms;
        width: 19px;
        height: 19px;
        top: 92px;
        left: 35px;
        background: url('../img/processo/bee.png') no-repeat center center;
        z-index: 10;
        
    }
    
    .line-return {
        animation: processFeedbackLine 1900ms forwards; 
        animation-delay: 3300ms;
        width: 0;
        height: 262px;
        position: absolute;
        right: 10px;
        top: 20px;
        background: url('../img/processo/line-return.png') no-repeat right center;
    }
}

@keyframes building-stripes-animation {
    25% { transform: translateX(0px) }
    50% { transform: translateX(1px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(3px) }
}

@keyframes lamp-gear-animation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes einstein-tongue-animation {
    0% { transform: translateY(0) }
    10% { transform: translateY(13px) }
    60% { transform: translateY(13px) }
    70% { transform: translateY(0) }
    100% { transform: translateY(0) }
}

#para-quem {
    padding-left: 19%;
    padding-right: 19%;

    %icon {
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 128px;
        position: relative;
        width: 128px;
    }

    %icon-piece {
        position: absolute;
    }

    .separator {
        background-color: darken(white, 10);
        margin: 1em 0 4em 0;
    }

    article {
        background: darken(white, 4);
        border-radius: 3px;
        box-shadow: 0 0 0 2px darken(white, 8);
        float: left;
        height: 300px;
        margin-right: 2%;
        padding: 3% 2.5%;
        text-align: center;
        transition: background 500ms;
        width: 32%;

        &:hover {
            background: darken(white, 1);

            .animated-piece {
                animation-play-state: running !important;
            }
        }

        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }

    p {
        color: darken(white, 60);
        font-family: $georgia-stack;
        font-size: 1.1em;
        margin: 1em 0;
    }

    .building {
        @extend %icon;
        background-image: url('../img/para-quem-1.png');

        .stripes {
            @extend %icon-piece;
            animation: building-stripes-animation 500ms infinite;
            animation-play-state: paused;
            background-image: url('../img/para-quem-1-piece.png');
            height: 116px;
            left: 28px;
            top: 3px;
            width: 88px;
        }
    }

    .lamp {
        @extend %icon;
        background-image: url('../img/para-quem-2.png');

        .gear {
            @extend %icon-piece;
            animation: lamp-gear-animation 1.2s forwards infinite;
            animation-timing-function: linear;
            animation-play-state: paused;
            background-image: url('../img/para-quem-2-piece.png');
            height: 51px;
            width: 51px;
            left: 39px;
            top: 15px;
        }
    }

    .einstein {
        @extend %icon;
        background-image: url('../img/para-quem-3.png');

        .tongue {
            @extend %icon-piece;
            animation: einstein-tongue-animation 3s forwards infinite;
            animation-play-state: paused;
            background-image: url('../img/para-quem-3-piece.png');
            height: 13px;
            left: 49px;
            top: 89px;
            width: 23px;
        }
    }
}

#contato {
    background: $brand-primary;
    color: white;

    h3 {
        text-align: center;

        span {
            color: lighten($brand-primary, 40);
            font-family: $open-sans-stack;
            font-size: 0.6em;
        }
    }

    form {
        width: 500px;
        margin: 0 auto;

        &.hidden {
            display: none;
        }
    }

    label {
        display: block;
        font-size: 0.9em;
        font-weight: 600;
        margin-bottom: 5px;
        width: 100%;
    }

    input,
    textarea {
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 5px;
        transition: background 150ms;
        width: 100%;

        &:active,
        &:focus {
            background: white;
            color: $brand-primary;
        }
    }

    [type=submit] {
        background: white;
        border-radius: 5px;
        color: $brand-primary;
        font-weight: bold;
        text-transform: uppercase;
    }

    .success-message {
        border-radius: 5px;
        font-size: 1.5em;
        margin: 0 auto;
        opacity: 0;
        text-align: center;
        transition: all 500ms;
        visibility: hidden;
        width: 500px;

        &.shown {
            line-height: 280px;
            opacity: 1;
            visibility: visible;
        }
    }
}
