@import 'partials/normalize';
@import 'partials/fonts';
@import 'partials/animation';

$brand-primary: #ff6600;

$menu-height: 100px;
$menu-height-small: 60px;

$novecento-stack: 'Novecento', sans-serif;
$open-sans-stack: 'Open Sans', sans-serif;

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// border-box FTW!
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}

html,
body {
    background: #ffffff;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: $open-sans-stack;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

.wrapper {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1060px;
}

header {
    background-image:
        radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(255, 102, 0, .5) 100%),
        url('../img/desk2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
    padding-top: 15%;
    width: 100%;

    h2 {
        font-family: $novecento-stack;
        font-size: 5em;
        font-weight: lighter;
        font-weight: normal;
        line-height: 1;
        margin: 0 auto;
        text-align: left;
        width: 80%;

        span {
            display: block;

            &:first-child {
                animation: slideFromLeft 1.5s forwards;
            }

            &:last-child {
                animation: slideFromRight 1.5s forwards;
            }
        }
    }

    small {
        display: block;
    }
}

nav {
    color: white;
    font-family: $novecento-stack;
    font-size: 1em;
    font-weight: bold;
    height: $menu-height;
    line-height: $menu-height;
    margin: -($menu-height) auto 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        color: white;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        transition: all 150ms;

        &:hover {
            transform: translateY(-5px);
        }
    }

    #logo {
        margin-top: -5px;
        transition: all 250ms;
        vertical-align: middle;
        shape-rendering: crispEdge
        
    }

    &.fixed {
        animation: slideFromTop 500ms forwards;
        background: transparentize(white, 0.05);
        box-shadow: 1px 0px 0px 2px transparentize(black, 0.95);
        color: $brand-primary;
        height: $menu-height-small;
        line-height: $menu-height-small;
        position: fixed;
        top: $menu-height;
        width: 100%;
        z-index: 1000;

        a {
            color: $brand-primary;
        }

        #logo {
            height: 30px;
            width: auto;

            path {
                animation: none;
                fill: $brand-primary;
                stroke: $brand-primary;
                shape-rendering: crispEdge;
                
            }
        }
    }
}

section {
    height: 100%;
    min-height: 100%;
}
#jobs {
    color: #333;
    
    %photo {
        background-color: #ff6600;
        margin: 2.5% 0 0 2.5%;
        float:left;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-size 200ms;
        box-shadow: 0px 1px 0px 2px rgba(50, 50, 50, 0.09);
    }
    h2 {
        margin-top: 0;
    }
    .mosaic {
        width: 500px;
        height: 500px;
        margin-top: 60px;
        float: left;
        
        
        .photo1 {
            width: 30%;
            height: 60%;
            background-image: url(../img/jobs/dids/image1.jpg);
            background-size: 420% auto;
            @extend %photo;
            animation: animation-from-left 500ms forwards;
            
            
            &:hover {
                background-size: 490% auto;
            }
        }
        .photo2{
            width: 62.5%;
            height: 30%;
            background-image: url(../img/jobs/dids/image2.jpg);
            background-size: 120% auto;
            @extend %photo;
            animation: animation-from-top 500ms forwards;
            
            &:hover {
                background-size: 170% auto;
            }
        }
        .photo3 {
            width: 30%;
            height: 60%;
            background-image: url(../img/jobs/dids/image4.jpg);
            background-size: 420% auto;
            @extend %photo;
            animation: animation-from-bottom 500ms forwards;
            
            &:hover {
                background-size: 490% auto;
            }
        }
        .photo4 {
            width: 30%;
            height: 30%;
            background-image: url(../img/jobs/dids/image3.jpg);
            background-size: 260% auto;
            @extend %photo;
            animation: animation-from-right 500ms forwards;
           
            &:hover {
                background-size: 330% auto;
            }
        }
        
    }
    
    .description-job {
        width: 450px;
        float: left;
        margin: 60px 0 0 20px;
        
        
        li {
            display: inline;
            padding-right: 20px;
            color: $brand-primary;
            transition: color 600ms;
            
            &:hover {
                color: darken($brand-primary, 20%);
            }
        }
    }   
}

#process {
    background-color: #ff6600;
    text-align: center;
    width: 100%;
    height: auto;
}

#for-who {
    width: 100%;
    height: auto;
    overflow: hidden;

    article {
        width: 28%;
        height: auto;
        padding: 2.5%;
        float: left;
        text-align: center;
    }
}

#clients {
    width: 100%;
    height: 300px;
    background-color: #e9e9e9;
    padding-top: 1px;
}
/*modal*/ #dialog {} #mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}
#boxes .window {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
    padding: 20px;
}
#boxes #dialog-dids {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
    position: fixed;
}
#boxes #dialog-familybox {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
}
#boxes #dialog-starthinks {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #660000;
    position: fixed;
}
#boxes #dialog-wepipe {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #f4b4b4;
    position: fixed;
}
body {} .scroll-img {
    max-width: 880px;
    height: 200px;
    overflow: hidden;
    font-size: 0;
    margin: 50px auto;
}
.scroll-img img {
    width: 200px;
    height: 200px;
}
.scroll-img ul {
    width: 900px;
    height: 600px;
    margin: 0;
    padding: 0;
}
.scroll-img ul li {
    display: inline-block;
    margin: 10px;
}
#demo5.scroll-img ul {
    width: 1500px;
}
#demo5-btn {
    width: 920px;
    margin: -150px auto;
}
#demo5-btn button {
    background-color: #e9e9e9;
    border: none;
    vertical-align: middle;
}
.btn-left {
    float: left;
}
.btn-right {
    float: right;
}
#contact {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-image: url(../img/bg-contact.jpg);
    background-repeat: repeat-x;
}
form {
    width: 600px;
    margin: 0 auto;
}
.form-contact {
    display: block;
    margin: 10px 0 0;
    width: 586px;
    height: 30px;
    border: 2px solid #ff6600;
    padding-left: 10px;
}
form label {
    color: #ff6600;
    font-family: pacifico;
    font-size: 1.4em;
    margin-top: 10px;
}

.submit {
    width: 100%;
    height: 40px;
    background-color: #ff6600;
    border: none;
    color: #fff;
    font-family: pacifico;
    font-size: 1.4em;
}

