@import "modules/utils";

@import 'partials/normalize';
@import 'partials/fonts';

@import "vendor/slick";

$brand-primary: #ff6600;

$menu-height: 100px;
$menu-height-small: 60px;

$novecento-stack: 'Novecento', sans-serif;
$open-sans-stack: 'Open Sans', sans-serif;

// border-box FTW!
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    &:before,
    &:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}

html,
body {
    background: #ffffff;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: $open-sans-stack;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

h2 {
    font-family: $novecento-stack;
    font-weight: normal;
    margin: 0;
}

.wrapper {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1060px;
}

header {
    background-image:
        radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(255, 102, 0, .5) 100%),
        url('../img/desk2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
    padding-top: 15%;
    width: 100%;

    h2 {
        font-family: $novecento-stack;
        font-size: 5em;
        font-weight: lighter;
        font-weight: normal;
        line-height: 1;
        margin: 0 auto;
        text-align: left;
        width: 80%;

        span {
            display: block;

            &:first-child {
                animation: slideFromLeft 1.5s forwards;
            }

            &:last-child {
                animation: slideFromRight 1.5s forwards;
            }
        }
    }

    small {
        display: block;
    }
}

nav {
    color: white;
    font-family: $novecento-stack;
    font-size: 1em;
    font-weight: bold;
    height: $menu-height;
    line-height: $menu-height;
    margin: -($menu-height) auto 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        color: white;
        display: block;
        font-weight: normal;
        padding: 0 30px;
        text-decoration: none;
        transition: all 150ms;

        &:hover {
            transform: translateY(-5px);
        }
    }

    #logo {
        margin-top: -5px;
        transition: all 250ms;
        vertical-align: middle;
        shape-rendering: crispEdge;
    }

    &.fixed {
        animation: slideFromTop 500ms forwards;
        background: transparentize(white, 0.05);
        box-shadow: 1px 0px 0px 2px transparentize(black, 0.95);
        color: $brand-primary;
        height: $menu-height-small;
        line-height: $menu-height-small;
        position: fixed;
        top: $menu-height;
        width: 100%;
        z-index: 1000;

        a {
            color: $brand-primary;
        }

        #logo {
            height: 30px;
            width: auto;

            path {
                animation: none;
                fill: $brand-primary;
                stroke: $brand-primary;
                shape-rendering: crispEdge;

            }
        }
    }
}

section {
    height: 100%;
    min-height: 100%;
    padding-top: $menu-height;
}

#cases {
    @extend %clearfix;
    margin: 0 auto;
    position: relative;

    article {
        background-color: #f0f0f0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 400px;
        box-shadow: 0 0 2px 0 transparentize(black, 0.95);
        border-radius: 4px;
        float: left;
        height: 180px;
        margin-bottom: 2%;
        margin-right: 2%;
        overflow: hidden;
        position: relative;
        text-align: center;
        transition: background 200ms;
        width: 32%;

        &:hover {
            background-size: auto 180px;

            a {
                opacity: 1;
                transform: scale(1);
                visibility: visible;
            }
        }

        &:nth-child(3n+3) {
            margin-right: 0;
        }

        &.dids {
            background-image: url('../img/cases/dids/thumb.png');
        }

        &.starthink {
            background-position: left top;
            background-image: url('../img/cases/starthink/thumb.png');
        }

        a {
            background: transparentize(black, 0.1);
            color: white;
            cursor: zoom-in;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            text-decoration: none;
            top: 0;
            transform: scale(2);
            transition: all 250ms;
            visibility: hidden;
            width: 100%;
        }

        h3 {
            color: transparentize(white, 0.1);
            font-family: $novecento-stack;
            font-size: 2em;
            font-weight: normal;
            margin-bottom: 10px;
            margin-top: 50px;
            text-align: center;
        }
    }
}

#cases-detail {
    height: 0;
    min-height: 0;
    width: 0;

    article {
        background: #ff6600;
        height: 100%;
        opacity: 0;
        position: fixed;
        right: -100%;
        top: 0;
        transition: all 750ms;
        visibility: hidden;
        width: 100%;
        z-index: 1000;

        &.active {
            opacity: 1;
            right: 0;
            visibility: visible;
        }

        .close-button {
            background: url('../img/case-detail-back.png') no-repeat center center;
            height: 48px;
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
            z-index: 1001;
        }

        .slider {
            background-color: white;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 70%;
        }

        .slide-content {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .slick-slider,
        .slick-list,
        .slick-track {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .slick-slide {
            text-align: center;

            img {
                display: inline-block;
            }
        }

        .about {
            background: #ff6600;
            height: 100%;
            padding: 3%;
            position: absolute;
            right: 0;
            top: 0;
            width: 30%;

            h3 {
                color: white;
                font-family: $novecento-stack;
                font-size: 2em;
                margin: 0;

                span {
                    // border-bottom: 1px solid white;
                    display: inline-block;
                }
            }

            p {
                color: white;
            }
        }
    }

    .dids {
        .slider {
            background-image: url('../img/cases/dids/background.png');
        }
    }
}

#process {
    background-color: #ff6600;
    text-align: center;
    width: 100%;
    height: auto;
}

#for-who {
    width: 100%;
    height: auto;
    overflow: hidden;

    article {
        width: 28%;
        height: auto;
        padding: 2.5%;
        float: left;
        text-align: center;
    }
}

#clients {
    width: 100%;
    height: 300px;
    background-color: #e9e9e9;
    padding-top: 1px;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

#contact {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-image: url(../img/bg-contact.jpg);
    background-repeat: repeat-x;
}

form {
    width: 600px;
    margin: 0 auto;
}

.form-contact {
    display: block;
    margin: 10px 0 0;
    width: 586px;
    height: 30px;
    border: 2px solid #ff6600;
    padding-left: 10px;
}

form label {
    color: #ff6600;
    font-family: pacifico;
    font-size: 1.4em;
    margin-top: 10px;
}

.submit {
    width: 100%;
    height: 40px;
    background-color: #ff6600;
    border: none;
    color: #fff;
    font-family: pacifico;
    font-size: 1.4em;
}
