@font-face {
    font-family: 'pacifico';
    src: url('../font/pacifico-webfont.eot');
    src: url('../font/pacifico-webfont.eot?#iefix') format('embedded-opentype'), url('../font/pacifico-webfont.woff') format('woff'), url('../font/pacifico-webfont.ttf') format('truetype'), url('../font/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
