@font-face {
    font-family: 'Novecento';
    src: url('../font/novecentowide-medium-webfont.eot');
    src: url('../font/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/novecentowide-medium-webfont.woff') format('woff'),
         url('../font/novecentowide-medium-webfont.ttf') format('truetype'),
         url('../font/novecentowide-medium-webfont.svg#novecento_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}